body {
    background-color: #121212;
    font-family: 'Nunito', sans-serif;
    color: #ffffff;
}

.card {
    border-radius: 0.5rem;
    border: none;
    background-color: hsl(0, 0%, 12%);
    color: #ffffff;
}

.card-body {
    padding: 2rem;
}

.btn:hover {
    background-color: #ffffff45!important;
}


.btn-primary {
    background-color: #4361ee;
    border-color: #4361ee;
}

.btn-primary:hover {
    background-color: #3a56d4!important;
    border-color: #3a56d4!important;
}

.btn-success {
    background-color: #38b000;
    border-color: #38b000;
}

.btn-success:hover {
    background-color: #2d9200!important;
    border-color: #2d9200!important;
}

.bg-primary {
    background-color: #181818 !important;
}

.form-label {
    font-size: 1rem;
}

.form-text {
    color: rgba(255, 255, 255, 0.75)!important
}

.form-control:focus {
    box-shadow: 0 0 0 0.25rem rgba(67, 97, 238, 0.25);
    border-color: #4361ee;
}

#fileInfo .badge {
    font-size: 0.9rem;
    font-weight: normal;
}

.progress {
    height: 0.5rem;
    border-radius: 1rem;
}

footer {
    margin-top: auto;
}

.btn, .card {
    transition: all 0.3s ease;
}

.btn:active {
    transform: scale(0.98);
}

.bg-dark {
    background-color: rgba(255, 255, 255, 0.03) !important;
}

h1 {
    font-weight: 1000 !important;
    text-align: center !important;
    margin: 0px !important;
}

.nav-link:hover:not(.active), .nav-link {
    color: rgba(255, 255, 255, 0.8) !important;
}

.nav-link {
    color: rgb(255 255 255) !important
}

.nav-link:hover:not(.active) {
    color: #ffffff;
}

.nav-link.active {
    color: #000 !important;
}

.modal-content {
    padding: 10px 15px!important;
}

.toggle {
    width: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.eye-icon {
    color: #fff;
    font-size: 1rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.title-icon {
    margin: 0 0.5rem;
    font-size: 1.2em;
    vertical-align: middle;
}

@media (max-width: 576px) {
    .card-body {
        padding: 1.5rem;
    }
}

.alert {
    background-color: #2f2f2f;
    color: #ffffff;
}
